@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  html {
    @apply bg-neutral-750 text-white;
  }

  input,
  textarea {
    @apply rounded-sm bg-neutral-600 p-4;
  }

  textarea {
    @apply resize-none;
  }
}
@layer components {
  .paper {
    box-decoration-break: clone;
  }

  .overflow-anywhere {
    overflow-wrap: anywhere;
  }

  .card-paper-shadow {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
}
